<section id="edit-form">
  <div class="container">
    <h2>User Story</h2>
    <hr class="sep">
    <p>Edit Your Story</p>
    <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
      <form method="POST" action="/profile/edit/<%= story.id %>">
        <div class="form-group">
          <label for="TITLE">TITLE</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="[Persona name] should (not) be able to [overarching action]"></i>
          <input type="text" name="title" class="form-control" id="Title" value="<%= story.title %>" placeholder="A [Connect 4 Player] should be able to place a piece on the game board." required>
        </div>
        <div class="form-group">
          <label for="GIVEN">GIVEN...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="GIVEN steps are used to describe the initial context of the system---the scene of the scenario."></i>
          <textarea placeholder="that I’m a Connect 4 Player, I need to be able to play a game piece on the game board." required name="given" class="form-control" rows="1" ><%= story.given %></textarea>
        </div>
        <div class="form-group">
          <label for="WHEN">WHEN...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="WHEN steps are used to describe an event, or an action. This can be a person interacting with the system, or it can be an event triggered by another system."></i>
          <textarea placeholder="I click an empty game board space" required name="when" class="form-control" rows="1" ><%= story.when %></textarea>
        </div>
        <div class="form-group">
          <label for="THEN">THEN...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="THEN steps are used to describe an expected outcome, or result."></i>
          <textarea placeholder="the space I played should refelect my game piece" required name="then" class="form-control" rows="1" ><%= story.then %></textarea>
        </div>
        <div class="form-group">
          <label for="AND">AND...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="AND is optional and provides additional conditions. If you find yourself writing multiple “and”s in the acceptance criteria, that is a smell test that indicates you should split the story into two or more."></i>
          <textarea placeholder="And my turn should end. (Optional)" name="and" class="form-control" rows="1" ><%= story.and  %></textarea>
        </div>
        <input class="btn-block" type="submit" value="Update Story" >
      </form>
    </div>
  </div>
</section>
